body {
    background-color: rgb(229, 183, 183);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.time {
    font-size: 1.17em;
}

/* table {
    background-color: #f7dab4;
    margin: Auto;
    padding: 10px;
    border-radius: 10px;
    border-spacing: 4px;
} */

table {
    margin: auto;
    /* width: 100px;
    height: 40px; */
    /* width: 100px;
    height: 100px; */
    background-color: rgb(207, 168, 168);
}

board {
    width: 100px;
    height: 100px;
}

.smiley img {
    width: 32px; /* Adjust the width to your desired size */
    height: 32px; /* Adjust the height to your desired size */
}

/* .smiley{
    width: 10px;
    height: 10px;
    /* margin: 20px; */


.cell {
    color: black;
    width: 40px;
    height: 40px;
    margin: 20px;
    text-align: center;
    font-size: x-large;
    transition: background-color 0.5s;
    cursor: pointer;
}

.cell-unrevealed {
    background-color: antiquewhite;
}

.cell-revealed {
    background-color: white;
}

.cell-mine-hidden {
    background-color: antiquewhite;
}

.cell-mine-revealed {
    background-color: red;
}

/* .cell {
    width: 40px;
    height: 40px;
    text-align: center;
} */

.cell img {
    width: 25px;
    height: auto;
}

.floor {
    background-color: gray;
}

.wall {
    background-color: brown;
}

.modal {
    background-color: black;
    border: 5px solid white;
    width: 300px;
    padding: 20px;
    position: absolute;
    top: 300px;
    left: calc(50% - 175px);
}

.hide {
    display: none;
}

.restart-btn {
    background-color: gray;
}



.board {
    width: 80%; /* Adjust the width of the board */
    margin: 0 auto; /* Center the board horizontally */
}

.cell {
    width: 40px; /* Adjust the width of each cell */
    height: 40px; /* Adjust the height of each cell */
    padding: 5px; /* Add padding around each cell */
    margin: 1px; /* Add margin between cells */
    font-size: 20px; /* Adjust the font size of the numbers or icons */
}

.cell img {
    width: 100%; /* Make sure images fill the cell */
    height: 100%;
}